body {
    background-color: darkblue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.top-bar {
    background-color: black;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

.top-bar a {
    color: blue;
    font-size: x-large;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: yellow;
}

.body-no-bar{
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 40px; 
}

h3 {
    font-size: 24px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
}

.image-container {
    white-space: nowrap; 
}

.image-container img{
    display: inline-block;
    margin-right: 10px; 
    width: 100px; 
    height: 100px; 
}