body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 18px;
}

.top-bar{
    padding: 10px 15px;
}

.top-bar a {
    color: #BB86FC;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 20px;
}

.top-bar a:hover {
    color: #03DAC6;
}

.body-no-bar{
    padding-top: 20px;
}

p{
    font-size: 1.2em;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 28px;
}

.image-container {
    white-space: nowrap; 
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.image-container a:hover {
    filter:invert();
}

.coding-languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.coding-languages img{
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.coding-languages img:hover {
    opacity: 1; 
  }

.img-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }

  .coding-container {
    position: relative;
    display: inline-block;
  }

  .coding-container:hover .img-text {
    visibility: visible;
  }


.image-container img{
    display: inline-block;
    margin-right: 10px; 
    width: 30px;
    height: 30px;
}

.image-container a {
    text-decoration: none; 
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1B24;
    padding: 10px 15px; 
    width: 100%;
    z-index: 999;
    border-top: 2px solid #BB86FC;
    border-bottom: 2px solid rgb(187, 134, 252);
}

.accordion {
    margin-top: 20px;
    background-color: #231a2e;
}

.description-lines{
    padding-left: 1%;
}

.accordion h3 {
    background-color: #5901bd;
    color: white;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    position: relative;

    background-image: url('images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

.accordion h3.active {
    background-image: url('images/arrow-up.png');
} 

.accordion .description {
    display: block;
    padding: 10px 20px;
    margin: 0;
}

.accordion .description.active {
    display: none;
}

.description-with-video {
    display: flex;
}


.description{
    flex-grow: 1;
    white-space: pre-line;
}

.accordion .description-with-video.active {
    display: none;
}

.accordion .description-lines.active {
    display: none;
}

video{
    margin-left: 20px;
    width:100%;
    height: 350px;
}

.description span {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.card-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}
  
.scrollable-wrapper {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
  
.card {
    min-width: 250px;
    margin-right: 15px;
    padding: 10px;
    background-color: #1F1F1F; /* Dark gray for cards */
    color: #E0E0E0;
    border: 1px solid #333333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease;
}
  
.card h2, .card h6 {
    margin: 5px 0;
}

.card img {
    width: 100%; 
    height: auto;
}

form {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input, textarea {
    background-color: #1E1E1E;
    color: #E0E0E0;
    border: 1px solid #BB86FC;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    color: #757575;
}

button {
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #BB86FC;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #BB86FC;
    color: #121212;
  }

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    /* Increase size of coding languages images */
    .coding-languages img {
        width: 75px; /* Make the images bigger */
        height: 75px; /* Make the images bigger */
        margin-right: 15px; /* Increase space between icons */
        margin-bottom: 15px; /* Increase space below icons */
    }

    /* Centering the "Contact Me" form and reduce width */
    form {
        max-width: 50%; /* Make the form 50% less wide */
        margin: 20px auto; /* Center the form horizontally */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        align-items: left;
    }

    p{
        font-size: x-large;
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 24px; 
    }

    p {
        font-size: 1em; 
    }

    .top-bar a {
        font-size: 1em; 
        margin-right: 15px; 
    }

    .header {
        padding: 10px; 
    }

    .image-container img {
        width: 25px;  
        height: 25px;
    }

    .coding-languages img {
        width: 50px; 
        height: auto;
    }

    .coding-languages {
        flex-wrap: wrap; 
        justify-content: center; 
        height: auto;
        margin-bottom: 50px;
      }

    .card {
        min-width: 200px;
        margin-right: 10px;
    }

    .card img {
        width: 100%; 
        height: auto;
    }

    form {
        padding: 15px;
    }

    video {
        width: 100%; 
        height: auto;  
    }

    .description-with-video {
        flex-direction: column;
    }

    .body-no-bar {
        padding-top: 70px;
    }

    .accordion h3 {
        font-size: 24px;
        padding: 12px;
    }

    .accordion .description {
        padding: 12px;
    }

    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    video {
        width: 100%;
        height: auto; 
        margin-left: 0%;
    }

    .header {
        flex-direction: column; 
        align-items: flex-start;
        padding: 5px 10px;
        height: auto; 
    }

    /* Adjust the spacing of links in the top-bar */
    .top-bar a {
        margin-right: 10px; /* Reduced margin between links */
        margin-bottom: 5px; /* Reduce space below each link */
    }

    /* Adjust the image container */
    .image-container {
        visibility: hidden;
    }
}

.body-no-bar {
    padding-top: 100px;  /* Add more space to make sure content is below the fixed header */
}